@using Bioscoop_Website_2021.Database;
@model Person

@{
    ViewData["Title"] = "Contact";
}



<div id="Formulier">
    <div id="titeltekst">
        <h1>@ViewData["Title"]</h1>
        <p>Op deze pagina kunt u via het onderstaande formulier contact met ons opnemen. Wij doen ons best uw bericht zo spoedig mogelijk te verwerken</p>
    </div>

    <form method="post">
        <div id="input">
            <p>Voornaam:</p><input type="text" name="Voornaam" />
            @Html.ValidationMessageFor(m => m.Voornaam)
        </div> <br />
        <div id="input">
            <p>Achternaam:</p><input type="text" name="Achternaam" />
            @Html.ValidationMessageFor(m => m.Achternaam)
        </div> <br />
        <div id="input">
            <p>Email:</p><input type="text" name="Email" />
            @Html.ValidationMessageFor(m => m.Email)
        </div> <br />
        <div id="input">
            <p>Telefoonnummer:</p><input type="text" name="Telefoonnummer" />
            @Html.ValidationMessageFor(m => m.Telefoonnummer)
        </div> <br />
        <div id="input">
            <p>Bericht:</p><input type="text" name="Bericht" />
            @Html.ValidationMessageFor(m => m.Bericht)
        </div> <br />
        <div id="Versturen"><input type="submit" value="Versturen" /></div>
    </form>
</div>

@if (Model != null)
{
    <a href="/success"></a>
    <p>Hallo en welkom @Model.Voornaam @Model.Achternaam </p>
}

<style>
    #Formulier {
        width: 50vw;
        height: 60vw;
        background: #e6e6e6;
        border-radius: 8px;
        box-shadow: 0 0 40px -10px #000;
        margin: calc(50vh - 220px) auto;
        padding: 20px 30px;
        max-width: calc(100vw - 40px);
        box-sizing: border-box;
        font-family: 'Montserrat',sans-serif;
        position: relative;
        color: #7c7c7c;
    }

    #Formulier h1 {
        margin: 10px 0;
        padding-bottom: 10px;
        width: 180px;
        color: #7c7c7c;
        border-bottom: 3px solid #78788c
    }

    input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        background: none;
        outline: none;
        resize: none;
        border: 0;
        font-family: 'Montserrat',sans-serif;
        border-bottom: 2px solid #bebed2
    }

        input:focus {
            border-bottom: 2px solid #78788c
        }

    #input p {
        color: #7c7c7c;
    }
    
    p:before {
        content: attr(type);
        display: block;
        margin: 28px 0 0;
        font-size: 14px;
        color: #7c7c7c;
    }

    #Versturen {
        float: right;
        padding: 8px 12px;
        margin: 8px 0 0;
        font-family: 'Montserrat',sans-serif;
        border: 2px solid #78788c;
        background: 0;
        color: #7c7c7c; 
        cursor: pointer;
    }

    #Versturen:hover {
        background: #78788c;
        color: #ffff;
    }

  

    
</style>