@using Bioscoop_Website_2021.Database;
@model Person

@{
    ViewData["Title"] = "Contact";
}



<div id="Formulier">
    <div id="titeltekst">
        <h1>@ViewData["Title"]</h1>
        <p>Op deze pagina kunt u via het onderstaande formulier contact met ons opnemen. Wij doen ons best uw bericht zo spoedig mogelijk te verwerken</p>
    </div>

    <form method="post">
        <div id="input">
            <p>Voornaam:</p><input type="text" name="Voornaam" />
            @Html.ValidationMessageFor(m => m.Voornaam)
        </div> <br />
        <div id="input">
            <p>Achternaam:</p><input type="text" name="Achternaam" />
            @Html.ValidationMessageFor(m => m.Achternaam)
        </div> <br />
        <div id="input">
            <p>Email:</p><input type="text" name="Email" />
            @Html.ValidationMessageFor(m => m.Email)
        </div> <br />
        <div id="input">
            <p>Telefoonnummer:</p><input type="text" name="Telefoonnummer" />
            @Html.ValidationMessageFor(m => m.Telefoonnummer)
        </div> <br />
        <div id="input">
            <p>Bericht:</p><input type="text" name="Bericht" />
            @Html.ValidationMessageFor(m => m.Bericht)
        </div> <br />
        <div id="Versturen"><input type="submit" value="Versturen" /></div>
    </form>
</div>

@if (Model != null)
{
    <a href="/success"></a>
    <p>Hallo en welkom @Model.Voornaam @Model.Achternaam </p>
}