@using Bioscoop_Website_2021.Database
@model Person

@{
    ViewData["Title"] = "Contact";
}

<div id="titeltekst">
    <h1>@ViewData["Title"]</h1>
    <p>Op deze pagina kunt u via het onderstaande formulier contact met ons opnemen. Wij doen ons best uw bericht zo spoedig mogelijk te verwerken</p>
</div>

<div id="Formulier">
    <form method="post">
        <div id="Voornaam">
            <p>Voornaam:</p><input type="text" name="Voornaam" />
            @Html.ValidationMessageFor(m => m.Voornaam)
        </div> <br />
        <div id="Achternaam">
            <p>Achternaam:</p><input type="text" name="Achternaam" />
            @Html.ValidationMessageFor(m => m.Achternaam)
        </div> <br />
        <div id="Email">
            <p>Email:</p><input type="text" name="Email" />
            @Html.ValidationMessageFor(m => m.Email)
        </div> <br />
        <div id="Bericht">
            <p>Bericht:</p><input type="text" name="Bericht" />
            @Html.ValidationMessageFor(m => m.Bericht)
        </div> <br />
        <input type="submit" value="Versturen" />
    </form>
</div>

@if (Model != null)
{
    <a href="/success"></a>
    <p>Hallo en welkom @Model.Voornaam @Model.Achternaam </p>
}

<style>
    #titeltekst {
        text-align: center;
        font-size: 20px;
    }

    #Formulier {
        text-align: center;
        align-content: center;
    }

    #Voornaam input {
        width: 200px;
        height: 30px;
    }

    #Achternaam input {
        width: 200px;
        height: 30px;
    }

    #Email input {
        width: 200px;
        height: 30px;
    }

    #Bericht input {
        width: 200px;
        height: 100px;
    }

</style>