@using Bioscoop_Website_2021.Database
@model Film
@{
    var datums = ViewData["date"] as List<Datum>;
}

@section style{
    <link rel="stylesheet" href="~/css/Film.css" />
}

<div id="container">

    <h1>@Model.Titel</h1>

    <p>Vanaf @Model.Leeftijdsgrens jaar. @Model.Tijdsduur minuten. Genre:@Model.Genre</p>
    <br><br>
    <p>@Model.Beschrijving</p>



</div>

<div id="Middenstuk">
    <div id="image">
        <img src="@Model.Img" alt="@Model.Titel" />
    </div>

    <div id="DATUMTIJD">
        <p>Bekijk snel één van onze voorstellingen! Ze zijn te zien op:</p>

        @if (datums != null)
        {
            foreach (var d in datums)
            {
        <p>@d.datumtijd.ToString("D")</p>
            }
        }
    </div>
</div>

<div id="Bestelknop">
    <a href="/Bestelpagina">Bestel hier uw tickets!</a>
</div>

