@using Bioscoop_Website_2021.Database
@model Film
@{ 
    var datums = ViewData["date"] as List<Datum>;
}

<div id="container">

    <h1>@Model.Titel</h1>

    <p>Vanaf @Model.Leeftijdsgrens jaar. @Model.Tijdsduur minuten. @Model.Genre</p>
    <br><br>
    <p>@Model.Beschrijving</p>

   

</div>

<div id="Middenstuk">
    <div id= "image">
        <img src="@Model.Img" alt="@Model.Titel" />
    </div>

    <div id="DATUMTIJD">
        <p>Bekijk snel één van onze voorstellingen! Ze zijn te zien op:</p>

        @if (datums != null)
        {
            foreach (var d in datums)
            {
                <p>@d.datumtijd.ToString("D")</p>
            }
        }
    </div>
</div>

<div id="Bestelknop">
    <a href="/Bestelpagina">Bestel hier uw tickets!</a>
</div>

<style>

  #container{
    text-align: center
  }

  #container p{
    font-size: 20px;
    margin: auto;
    width: 75%
   }

  #Middenstuk {
        display: flex;
        align-items: center;
        justify-content: center
   }

   #DATUMTIJD p{
       font-size: 18px;
       padding-left: 150px;
   }

   #img{
     max-width: 100%; 
    }

    #image img {
        margin-top: 10px;
        width: 200px;
        height: 250px;
        flex-basis: 30%
    }

    #Bestelknop{
       display: flex; 
       justify-content: center; 
       margin-bottom: 10px; 
    }

    #Bestelknop a:link, a:visited{
       background-color: indianred;
       color: white;
       padding: 14px 25px;
       text-align: center;
       text-decoration: none;
       display: inline-block; 
    }

    #Bestelknop a:hover, a:active {
        background-color: #808080;
       
    }
    

</style>